window {
        background-color: rgba (0, 0, 0, 0.0)
}

/* Outer bar container, takes all the window width/height */
#outer-box {
	margin: 0px;
	/*opacity: 0.8*/
}

/* Inner bar container, surrounds buttons */
#inner-box {
	background-color: rgba (0, 0, 0, 0.9);
	border-radius: 10px;
	border-style: none;
	border-width: 1px;
	border-color: rgba (156, 142, 122, 0.7);
	/*border-color: rgba (200, 200, 200, 1.0);*/
	padding: 5px;
	margin: 5px
}

button, image {
	background: none;
	border: none;
	box-shadow: none
}

button {
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px
}

button:hover {
	background-color: rgba (200, 200, 200, 0.9)
}
